<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('deps/bootstrap/dist/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet"/>
            <link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet"/>
        {% endblock %}
        
        {% block javascripts %}
            <script src="{{ asset('deps/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('js/app.js') }}"></script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
