{% extends 'base.html.twig' %}

{% block body %}
    <div id="counter" class="row" align="center"
         data-increase-url="{{ path('increase') }}"
         data-increase-token="{{ csrf_token('increase_token') }}">
        <div class="col-md-12">
            <span id="count">{{ count }}</span>
        </div>
        <div class="col-md-12">
            <a id="increase-btn" class="btn btn-success">Incrementer</a>
        </div>
    </div>
{% endblock %}